#sanskar{
    font-family: Caveat, cursive;
    font-optical-sizing: auto;
    color: black;
    font-size:22px;
    top:14px;
    right:100px;
    position: absolute;
    
}
#sanskar2{
    font-family: Caveat, cursive;
    font-optical-sizing: auto;
    color: black;
    font-size:22px;
    top:14px;
    right:6px;
    position: absolute;
}
.sd{
    margin-left: 5px;
    height: 70px;
    width: 80px;
  
}


footer{
    margin-inline-start: 0%;
    padding:5px;
    background-color:darkgrey;
    text-align: center;
    font-size:x-small;
    margin-top: auto;
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: 700;
    color: #1c87c9;
  }
  input {
    width: 50%;
    height: 23px;
    padding: 4px 10px;
    border: 1px solid #ceb5b5;
    background: #cce6ff;
    color:darkslategrey;
    font-size: 19px;
  }
