{% extends 'Base.html' %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<div>
    <h1 style=" text-align: center; font-family: Calibre; padding:10px">
        "The motivation behind developing &#34;Quiz
    Trivia&quot; stems from the desire to create a fun
    and interactive platform for users to explore
    their interests and expand their knowledge
    base. By allowing users to select topics they
    are passionate about, the application aims to
    make the learning process more enjoyable
    and meaningful. Additionally, &quot;Quiz Trivia&quot;
    seeks to promote lifelong learning and
    encourage users to continue exploring new
    subjects."
    </h1>
   </div>
{% endblock %}

