{% extends 'Base.html' %}

{% block title %}
Recovery
{% endblock %}

{% block content %}
<body>
<div class="container">
<form method="GET" class="form-register" style="color:white">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal text-center">
        Account Recovery
    </h1>
     <h3>
        Enter the one time password sended to {{email}}
     </h3>
    <br>
    {{form.otp.label()}}
    {{form.otp(class="form-color",placeholder="otp")}}
    <h6>
        *Please check your inbox or spam folder for a 6 digit otp
    </h6>
    <br>
    {{form.submit(class="btn btn-lg btn-block btn-primary")}}
   

</form>
</div>
</body>
{% endblock %}