{% extends 'Base.html' %}

{% block title %}
Recovery
{% endblock %}

{% block content %}
<body>
<div class="container">
<form method="POST" class="form-register" style="color:white">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal text-center">
        Account Recovery
    </h1>
    <h3>
       Enter the Email you used to create the account
    </h3>
    <br>
    {{ form.email_add.label() }}
    {{ form.email_add(class="form-control",placeholder="Email") }}
    <br>
    {{form.submit(class="btn btn-lg btn-block btn-primary")}}

</form>
</div>
</body>
{% endblock %}