
{% extends 'Base.html' %}

{% block title %}
    Home
{% endblock %}
{% block navbar%}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('login_page') }}">Logout</a>
</li>
{% endblock %}

{% block content %}

<div>
<h1 class="text-center"> Welcome Click to play the quiz</h1>
<h1 class="text-center">
    <!-- <button type="button" class="btn btn-primary" onclick="{{ url_for('game_play') }};">Play</button> -->
    <button class="btn btn-secondary " ><a href="/Game">Play</a></button>
</h1>
</div>    

{% endblock %}